.logoimg {
    float: left;
    margin: 7px 0 7px 7 px;
}
.green {
    background: url(images/image.png);
    background-size: cover;
    height: 300px;
}
h1 {
    color: aliceblue;
}
.blue {
    background: url(images/image1.png);
    background-size: cover;
    height: 300px;
}
.text {
    color: aliceblue;
}
div {
    margin: auto;
    max-width: 1219px;
}
.Top {
    background: url(images/Rectangle.png);
    background-size: cover;
}