.logoimg {
    float: left;
    margin: 7px 0 7px 7 px;
}
.green {
    background: url(images/image.png);
}
h1 {
    color: aliceblue;
}
.blue {
    background: url(images/image1.png);
    background-size: cover;
}
.text {
    color: aliceblue;
}